<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>createCoupon</title>
</head>
<body>
<h1>Create New Coupon </h1>
<form th:action="@{/saveCoupon}" method="post">
    <div><label>CouponCode:</label><input  name="code"/></div>
    <div><label>Discount:</label><input  name = "discount" /></div>
    <div><label>Expiry Date:</label><input type="date" name ="expDate" /></div>
    <div><input type="submit" value="Save"/> <a href= "/index" type="button">Back</a></div>
</form>
</body>
</html>